.topNavHeader {
  background-color: $topNavBg;
  color: $topNavText;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  h1 {
    @include topNavHeaderSpacing;
  }
  a {
    color: $topNavText;
    text-decoration: none;
  }
  a:hover {

  }
}
